html,
body,
div,
main {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    text-align: center;
    margin: 0 auto;

}

hr {
    border: 1px solid black;
}

main {
    display: block;
    width: 780px;
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
}

#historyContainer {
    border: 1px solid black;
    border-radius: 5px;
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

#inputContainer {
    width: 75%;
    height: 100px;
    margin: 30px auto;
}

#buttonContainer {
    width: fit-content;
    display: block;
    background-color: transparent;

    margin: -80px 0 0 auto;

}


button {

    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

button:active {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.05s ease-in-out;
}

#buttonContainer button {
    padding: 0 0 0 0;
    width: 80px;
    border-radius: 20px;
    font-weight: bolder;
}

.system,
.user,
.assistant {
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
    margin: 5px 20px;
    padding: 10px 20px;
    max-width: 50%;
    word-wrap: break-word;
}

.system {
    align-self: center
}

.user {
    align-self: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 25px;
}

.assistant {
    align-self: flex-start;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 25px;
}

input {
    display: inline block;
    margin: 5px auto;
    border-radius: 20px;
}

textarea {
    resize: none;
    display: block;
    margin: 20px auto;
    padding: 5px;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}